html{
    font-size: 62.5%;
}
body{
    background-color: red;
}
.section{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.button-option{
    border-radius: 1rem;
    border: solid black 0.2rem;
    height: 4rem;
    width: 9rem;
}
#main-title{
    font-size: 4rem;
}
#red-button{
    background-color: red;
}
#green-button{
    background-color: green;
}
#blue-button{
    background-color: blue;
}
#yellow-button{
    background-color: yellow;
}